<!-- _includes/footer.html -->
<footer class="page__footer">
    <!-- Custom Footer Snippets -->
    <div class="footer__links">
        <a href="/sitemap/">Sitemap</a>
        <a href="/privacy-policy/">Privacy Policy</a>
    </div>

    <!-- Social Media Links -->
    <div class="page__footer-follow">
        <ul class="social-icons">
            <li>
                <strong>Follow:</strong>
            </li>
            <li>
                <a href="http://github.com/yourusername" target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i> GitHub
                </a>
            </li>
            <li>
                <a href="https://yourusername.github.io/feed.xml" target="_blank">
                    <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Feed
                </a>
            </li>
        </ul>
    </div>

    <!-- Copyright Section -->
    <div class="page__footer-copyright">
        &copy;2025 Wenyu Fu
    </div>
</footer>
